.weatherApp {
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}
.weatherApp__content {
    display: flex;
    flex-wrap: wrap;
}
.weatherApp__col--left {
    margin-right: 50px; 
}